<nav class="navbar">
  <div class="navbar-content">
    <h1 class="navbar-title">The Wedding Planner</h1>
  </div>
    <div class="navbar-right">
      <%= link_to 'Mon Événement', events_path, class: 'nav-link' %>
    </div>
  </div>
</nav>
