<h1>Your Wedding Events</h1>
<%= link_to 'Create New Event', new_event_path, class: 'btn btn-primary' %>

<!-- Display all events here -->
<% @events.each do |event| %>
  <div>
    <h3><%= event.name %></h3>
    <p><%= event.description %></p>
    <%= link_to 'Show', event_path(event) %>
  </div>
<% end %>
