body {
  background-image: image-url('theweddingapp_home-unsplash.jpg'); /* Chemin vers l'image de fond */
  background-size: cover; /* Couvre tout l'écran */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Ne pas répéter l'image */
  height: 100vh; /* Utilise toute la hauteur de la fenêtre */
  margin: 0; /* Supprime les marges par défaut */
  padding: 0; /* Supprime les paddings par défaut */
  overflow-x: hidden; /* Empêche le défilement horizontal */
}
@import 'pages/home';
@import 'components/navbar';
